* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b6f0ee;
    font-family: Arial, Helvetica, sans-serif;
}

/* header*/
header {
    padding: 20px 35px;
    background-color: #b8f086;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #f086d5;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #f086d5;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/*hero section*/
.background {
    background-image: url("/assets/images/pastel-wallpaper-20081916265123-scaled.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* about me */
.me-me-me h2 {
    text-align: center;
    margin: 3.5%;
    color: #f086d5;
    font-size: 40px;
    line-height: 1.2;
}

.me-me-me p {
    text-align: center;
    margin: 3.5%;
    color: #f086d5;
    font-size: 20px;
    line-height: 1.2;
}
/* works */
.works h2 {
    text-align: center;
    margin: 3.5%;
    color: #f086d5;
    font-size: 40px;
    line-height: 1.2;
}

/* contact me */
.contact-me {
    background: #b8f086;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-me h2 {
    color: #f086d5;
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.contact-me h3 {
    line-height: 1.5;
    text-align: center;
    color: #f086d5;
}
