:root {
    --primary-color: rgb(94, 0, 74);
    --secondary-color: rgb(254, 123, 103);
    --tertiary-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}

/* header*/
header {
    background-color: var(--tertiary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/*hero section*/
.background {
    background-image: url("file:///C:/Users/jonat/Desktop/projects/challenges/me-myself-and-index/assets/css/images/Horizon-Pastel-Background.jpg");
    height: 400px;
    background-position: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background img {
    border-radius: 50%;
    float: right;
    margin: 70px 150px 30px 0;
    flex-wrap: wrap;
}

/* about me */
.me-me-me {
    background-color: var(--primary-color);
}
.me-me-me h2 {
    color: var(--secondary-color);
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid;
    padding-bottom: 20px;
    width: 50%;
    padding-top: 40px;
    margin: 0 auto 35px auto;
    line-height: 1.2;
}

.me-me-me p {
    text-align: center;
    margin: 3.5%;
    padding-bottom: 40px;
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 1.2;
}
/* works */
.works {
}

.works h2 {
    color: var(--secondary-color);
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid;
    padding-bottom: 20px;
    width: 50%;
    margin: 0 auto 35px auto;
    line-height: 1.2;
}

/* contact me */
.contact-me {
    background-color: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-me h2 {
    color: var(--secondary-color);
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.contact-me h3 {
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-color);
}